<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PosadaYA - Cargando...</title>
    <link rel="icon" type="image/x-icon" href="../static/img/playa.png" />
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<div class="page-pantalla-carga">
    <div class="loader"></div>
    <div class="cargando">
        Cargando<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
    </div>
</div>

</html>